body{
	background-color: rgb(37, 37, 39);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: 1600px 850px;
	color: #AAAAAA;
	font-family: consolas;
}
a	{
	color:#AAAAAA;
}